/Carrot-Assistant/.env
*.pyc
/*/__pycache__/
.env
.DS_Store
.vscode/settings.json
*.qdrant
/Lettuce/tests/log
/Lettuce/evaluation/datasets/*
!/Lettuce/evaluation/datasets/example.csv
/Lettuce/log
/website/.next
/website/node_modules
